// 以下皆是設定 測試無障礙關閉js 的純css排版
a.goCenter {
	position: absolute;
	top: -2.2em;
	left: 50%;
	margin-left: -480px;
	padding: 0 .5em;
	height: 2em;
	line-height: 2em;
	background: $secondaryColor;
	color: #fff;
	text-decoration: none;
	z-index: 999999999999;
	opacity: 0;
	transition: .5s;
	@include border-radius(0px 0px 4px 4px);
	color: #FFF;
	@include screen("mobile") {
		display: none;
	}
	&:hover,
	&:focus {
		outline: none;
		top: 0;
		opacity: 1;
	}
}

// no-js
.no-js {
	.search {
    min-width: 25%;
    max-width: 50%;
    float: right;
    vertical-align: middle;
    padding: 0em .3em 0em;
    @include box-sizing;

    label {
        font-size: 0em;
    }

    .form_grp {
        margin-bottom: 0;
        margin-right: 0 !important;

        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            box-shadow: none;

            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                // max-width:none;
                // min-width:none;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 20px;
                border: none;
                display: inline-block;
                margin-left: -40px !important;
                margin-top: -2px !important;
                opacity: .5;
                min-width: 0em !important;
                @include box-sizing;

                &:hover,
                &:focus {
                    opacity: 1;
                    box-shadow: none !important;
                }
                &:focus {
                    outline: 2px solid $form-focus;
                }
            }
        }
    }

    .btn_grp {
        padding: .2em;
        margin-bottom: 0;

        input,
        input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em;
            color: #000;
            &:hover,&:focus{
                background:saturate($color-yellow,10);
                box-shadow:none;
                outline:none;
            }
        }
    }

    .keywordHot {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
        padding: .1em 0 .3em;

        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;

            &:before {
                display: inline-block;
                content: "";
                color: #999;
                float: left;
            }

            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }

            a {
                @include aSetting_nocolor;
            }
        }
    }

    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .2em .3em .5em;
        display: block;
        height: auto;
        position: fixed;
        top: 55px;
        left: 0;
        z-index: 98;
        background: #333;

        label {
            font-size: 0em;
            line-height: 0;
        }

        .form_grp {
            width: 65%;
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            float: left;
            height: 50px;
            position: relative;
            @include box-sizing();

            input {
                width: 100%;
                margin: -0.2em 0 0;
                padding: .5em 45px .4em .5em;

                &[type="submit"] {
                    font-size: 0em;
                    width: 36px !important;
                    height: 36px;
                    padding: 0;
                    // max-width:none;
                    // min-width:none;
                    background: url(../images/basic/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block;
                    // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 22px;
                    opacity: .8;

                    // outline:1px solid red;
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }

        .btn_grp {
            display: inline-block;
            padding: .2em;
            margin-bottom: 0;
            width: 30%;
            margin-top: 20px;
            padding-left: 5%;
            @include box-sizing();

            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0;
            }
        }

        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @include clearfix;

            a {
                color: #FFF;

                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}
	noscript {
		display: block;
		padding: .5em;
		border: 2px solid $primaryColor;
		background: #FFF;
		color: #666;
		overflow: hidden;
		line-height: 1.45em;
		font-size: .813em;
		margin: 0 .5em .5em;
		@include border-radius(4px);
		@include box-sizing;
		a {
			color: $primaryColor;
			&:hover,
			&:focus {
				color: $aHover;
			}
		}
	}
	.search {
		noscript {
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	.tabSet {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		.tabItem {
			width: 100%;
			display: block;
			position: relative;
			color: #000;
			margin-bottom: 0px;
			border-bottom: 3px solid #ddd;
			>a {
				background: none;
				font-size: 1.5em;
				color: #000;
			}
			&:before {
				display: none;
			}
			&.active {
				color: #000;
				width: 100%;
				display: block;
				position: relative;
				border-bottom: 3px solid #ddd;
				>a {
					color: #000;
					background: none;
				}
			}
		}
		.tabContent {
			width: 100%;
			position: relative;
			display: block;
		}
	}
	.adSlider {
		.img-container {
			width: 165px;
			text-align: center;
			float: left;
			display: block;
			margin: 0px 10px 10px 0;
			height: 60px;
		}
	}
	.mp_banner {
		.img-container {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
	.service .item{
		height:250px;
	}
	.infographic {
		.infoSlider {
			@include clearfix;
			.img-container {
				width: 30%;
				@include aspect-ratio(4, 3);
				display: inline-block;
				vertical-align: top;
				margin-bottom: 15px;
				float: left;
				position: relative;
				a {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
    } // 英文版
    .eng_head {
    	.mp_banner {
    		.singleSlider {
    			.img-container {
    				display: none;
    				&:first-child {
    					display: block;
    				}
    			}
    		}
    	}
    }
    .Syncing_slider{
    	.Slider-nav{
    		display:none;
    	}
    	.Slider-for{
    		.imgOuter{
    			width:49%;
    			display:inline-block;
    			vertical-align:top;
    			margin-top: 5px;
    			margin-bottom: 5px;
    		}
    		
    	}
    }
    .lightbox_slider{
    	.cp_slider{
    		.imgOuter{
    			width:49%;
    			display:inline-block;
    			vertical-align:top;
    			margin-top: 5px;
    			margin-bottom: 5px;
    			@include aspect-ratio(4,3);
    			a {
    				position: absolute;
    				top: 0;
    				left: 0;
    				bottom: 0;
    				right: 0;
    				width: 100%;
    				height: 100%;
    			}
    			img {
    				width: 100%;
    			}
    		}
    	}
    }
}