.main{

}
.eng_head {
    @include screen('mobile') {
        margin-top: 0px;
    }
    .container {
        @include gutter(0);
    }
    .mp_banner {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
        @include gutter(0);
        .slick-prev {
            left: 45px;
            @include screen('mobile') {
                left: 15px;
            }
        }
        .slick-next {
            right: 45px;
            @include screen('mobile') {
                right: 15px;
            }
        }
        @include screen('mobile') {
            display: block;
            padding-top: 3em;
        }
    }
    .right_banner {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
        @include screen('mobile') {
            padding-top: 2em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: block;
                width: 90%;
                margin-bottom: 15px;
                @include screen('mobile') {
                    width: 90%;
                    display: block;
                    margin: 0px auto 15px;
                }
                a {
                    background: #FEFEFE;
                    color: #000;
                    display: block;
                    padding: 1.2em 3em 1.2em 1em;
                    font-size: 1.125em;
                    font-weight: bold;
                    border: 1px solid #DDD;
                    position: relative;
                    transition: .3s ease-out;
                    img {
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        opacity: .75;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: $color-orange;
                    }
                    &:hover,
                    &:focus {
                        color: #FFF;
                        background: $color-orange;
                        border: 1px solid $color-orange;
                        img {
                            opacity: 1;
                            -webkit-filter: invert(100%);
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}
.our_service {
    h2 {
        text-shadow: none;
        color: #FFF;
        @include screen('mobile') {
            color: #333;
        }
    }
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(3);
            @include make-lg-column(3);
            @include gutter();
            margin-bottom: 15px;
            .img-container {
                @include aspect-ratio(4, 3); //設定比例ex:4:3 or 16:9
                height: auto;
                @include screen('mobile') {
                    width: 100%;
                    float: none;
                    margin: 0 auto 1em;
                }
                img {
                    transition: .3s ease-out;
                }
                &:hover,
                &:focus {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
            a {
                display: block;
                position: relative;
                &:focus {
                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 99;
                        box-shadow: 0px 0px 0px 1px $color-orange inset;
                    }
                }
                h3 {
                    color: #FFF;
                    @include screen('mobile') {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}
.information {
    a.more {
        background: RGBA(255, 255, 255, .8);
    }
    .eng_news {
        background: #FFF;
        @include make-xs-column(12); //576px
        @include make-sm-column(9); //768px
        @include make-md-column(9); //992px
        @include make-lg-column(9); //1400px
        @include gutter(10%);
        @include box-sizing;
        @include screen('mobile') {
            margin-top: 25px;
        }
        a {
            display: block;
        }
    }
    .eng_ad {
        @include make-xs-column(12); //576px
        @include make-sm-column(3); //768px
        @include make-md-column(3); //992px
        @include make-lg-column(3); //1400px
        @include box-sizing;
        @include gutter();
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                width: 242px;
                height: 120px;
                display: block;
                margin: 0px auto 15px;
                a {
                    display: block;
                    width: 242px;
                    height: 120px;
                    background: #FFF;
                    border: 1px solid #CCC;
                    position: relative;
                    &:focus {
                        &:after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;
                            box-shadow: 0px 0px 0px 1px $color-orange inset;
                        }
                    }
                }
                img {
                    width: 242px;
                    height: 120px;
                    position: relative;
                }
            }
        }
    }
}